{% block ListCheckBoxTextsFormType_label %}{% endblock %}
{% block ListCheckBoxTextsFormType_errors %}{% endblock %}

{% block CheckBoxTextsFormType_label %}{% endblock %}
{% block CheckBoxTextsFormType_errors %}{% endblock %}

{% block CheckBoxTextsFormType_row %}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
{% endblock %}

{% block CheckBoxTextsFormType_widget %}
    <div class="input-group mb-3">
        {{ form_widget(form.checkBoxTexts) }}
        <div class="input-group-append">
            <button class="listcheckBoxTexts-remove btn btn-outline-warning" type="button">Supprimer</button>
        </div>
    </div>
{% endblock %}

{% block ListCheckBoxTextsFormType_widget %}
    {{ form_widget(form) }}
{% endblock %}