{% block DocumentFormType_row %}
    <div class="row">
        <div class="col-md-8 mb-2">
            <div class="input-group">
                {{ form_widget(form.document) }}
            </div>
        </div>
    </div>
{% endblock %}
{#{% block DocumentFormType_widget %}#}
{#    {{ form_widget(form.document) }}#}
{#    <br/>#}
{#    <p class="text-center">dfsdf#}
{#        <a href="#" class="collection-up btn btn-default">&lt;</a>#}
{#        <a href="#" class="collection-remove btn btn-default">-</a>#}
{#        <a href="#" class="collection-add btn btn-default">+</a>#}
{#        <a href="#" class="collection-down btn btn-default">&gt;</a>#}
{#    </p>#}
{#{% endblock %}#}
