{% block redirection_config_widget %}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.URL) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.displayName) }}
        </div>
    </div>
{% endblock %}