{% extends 'base_form.html.twig' %}

{% block title %}Création de compte{% endblock %}

{% block form_content %}
    <div class="card-header">
        Creation d'un compte universign
    </div>
    <div class="card-body">
        {{ form_row(form.signer) }}
    </div>
{% endblock %}
{% block form_result %}
    {% if service.fault is defined and service.fault is not null %}
        {{ include('Shared/Fault.html.twig', {fault: service.fault}) }}
    {% else %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createAccount" data-whatever="@mdo">Ouverture de la creation de compte
        </button>
        {% if originalResult.url is defined %}
            <div class="modal fade" id="createAccount" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <iframe src="{{ originalResult.url }}" id="createAccountiframe"></iframe>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
{% block form_javascripts %}
    <script>
        $(document).ready(function () {
            let intFrameHeight = window.innerHeight;
            $('#createAccountiframe').height(intFrameHeight);
            $('#createAccount').modal('show');
        });
    </script>
{% endblock %}